.navlink{
  color: #e2b7ce;
  text-decoration: none;
  justify-content: left;
  position: fixed;
}

.header {
  background: #52316b;
  height: 80px;
  width: 100%;
  color: #e2b7ce;
  position: sticky;
  display: flex;
  flex-flow: column wrap;
  top: 0;
  justify-content: center;
  z-index: 2;
}

#headerText {
  padding: 1px;
  font-size: 50px;
  align-self: flex-start;
  position: fixed;
  margin-left: 80px;
}

@media (max-width: 600px) {
  #headerText {
    font-size: 35px;
  }
}

img{
  margin-left: 5px;
  height: 70px;
  width: 70px;
}