.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  font-size: 18px;
  width: max-content;
  height: 56px;
  background: #52316b;
  border: 1.5px solid #fff;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.button-component:focus:not(:disabled),
.button-component:hover:not(:disabled) {
  background: #db7ca5;
  border: 1.5px solid rgb(4, 52, 71);
}