.App {
  text-align: center;
  background-color: #e2b7ce;
  min-height: 100%;
  width: 100%;
}

:root {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  display: flex;
  width: 100%;
  height: 100%;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

h2{
  color: #632e6d;
}

.album-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  justify-content: center;
  width: 90%;
  gap: 30px;
  padding-bottom: 30px;
}

.album-container Button {
  flex: 1 0 calc(25%-10px);
}